@page "/order/display/{Id:int}"
@rendermode InteractiveServer
@inject IFoodRepository foodData
@inject IOrderRepository orderData
@inject NavigationManager navMan
@using BlazorServerDemo.Models

<PageTitle>Display Order - Blazor Server</PageTitle>

<h3>Display</h3>

@if (_recordNotFound)
{
    <h4>No record found.</h4>
}
else if (_order is null)
{
    <h4>Record loading...</h4>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Order Name</strong></td>
                <td>@_order.OrderName</td>
            </tr>
            <tr>
                <td><strong>Order Date</strong></td>
                <td>@_order.OrderDate</td>
            </tr>
            <tr>
                <td><strong>Order Total</strong></td>
                <td>@string.Format("{0:C}", _order.Total)</td>
            </tr>
            <tr>
                <td><strong>Item Ordered</strong></td>
                <td>@_itemPurchased</td>
            </tr>
            <tr>
                <td><strong>Quantity</strong></td>
                <td>@_order.Quantity</td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (_confirmDelete)
                    {
                        <button class="btn btn-outline-danger" @onclick="HandleDeleteRecord">
                            Confirm Delete
                        </button>
                        <button class="btn btn-secondary" @onclick="(() => _confirmDelete = false)">
                            Cancel
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-danger" @onclick="(()=> _confirmDelete = true)">
                            Delete Order
                        </button>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <EditForm Model="@_updateModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary Model="@_updateModel" />

        <div class="form-group">
            <label class="control-label">Name for the Order</label>
            <InputText @bind-Value="_updateModel.OrderName" class="form-control" />
            <ValidationMessage For="@(() => _updateModel.OrderName)" class="text-danger" />
        </div>
        <div class="form-group">
            <input type="submit" value="Update Order Name" class="btn btn-primary" />
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private OrderModel? _order;
    private string? _itemPurchased;
    private bool _confirmDelete = false;
    private bool _recordNotFound = false;
    private OrderUpdateModel _updateModel = new();

    protected override async Task OnInitializedAsync()
    {
        _order = await orderData.GetOrderByIdAsync(Id);

        if (_order != null)
        {
            var food = await foodData.GetFoodAsync();
            _itemPurchased = food.Where(x => x.Id == _order.FoodId).FirstOrDefault()?.Title
                ?? throw new InvalidOperationException("Food item not found.");
            _updateModel.Id = _order.Id;
            _updateModel.OrderName = _order.OrderName;
        }
        else
        {
            _recordNotFound = true;
        }
    }

    private async Task HandleValidSubmit()
    {
        if (_updateModel.Id <= 0)
        {
            throw new InvalidOperationException("Invalid order ID");
        }
        else if (string.IsNullOrWhiteSpace(_updateModel.OrderName))
        {
            throw new InvalidOperationException("Order name cannot be empty.");
        }

        await orderData.UpdateOrderNameAsync(_updateModel.Id, _updateModel.OrderName);
        _order!.OrderName = _updateModel.OrderName;
    }

    private async Task HandleDeleteRecord()
    {
        await orderData.DeleteOrderAsync(Id);
        //confirmDelete = false;
        navMan.NavigateTo($"food/list");
    }
}
